@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .logo {
    color: $lightTextColor;
    display: flex;
    justify-content: space-between;
  }

  .nav-links a {
    color: $lightTextColor;
    font-size: 1.4rem;
    padding-right: 1em;
  }
  .user-name {
    color: $lightTextColor;
    display: flex;
    justify-content: flex-end;
  }
}
