@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .nav-links,
  .logo {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    color: $lightTextColor;
    // margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
