.products {
	color: red;
}
.product {
	color: white;
	background-color: black;
	margin: 5px;
	width: 500px;
	height: 500px;
	font-size: 15px;
}
.product-image {
	margin: auto;
	padding: none;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.name {
	font-size: 18px;
}

