<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
<section>
	<h1>Order History</h1>
	<div class="order-history-container">
		<div class="order-history-form">
			<p>Here is the order history</p>
			<div>
				<div>
					<p>Product</p>
					<p>Quantity</p>
					<p>Returned</p>
					<button>Return All</button>
					<button>Return Part</button>
				</div>
				<div ng-repeat="order in orders">
					<p>Product</p>
					<p>Quantity</p>
					<p>Returned</p>
					<button>Return All</button>
					<button>Return Part</button>
				</div>
			</div>
		</div>
	</div>
</section>