<navbar></navbar>
<div>
  <div>
    <button ng-click="$ctrl.initiateEdit()">Edit Transaction</button>
    <button ng-show="$ctrl.editMode === true" ng-click="$ctrl.cancelEdit()">Cancel Edits</button>
    <button ng-show="$ctrl.editMode === true" ng-click="$ctrl.saveEdit($ctrl.importedTrans.id)">Save Edits</button>
  </div>    
  <table>
    <tr>
      <th>Transaction ID</th>
      <th>Date</th>
      <th>Total Cost</th>
      <th>Total Price</th>
      <th>Total Amt</th>
      <th>Transaction Type</th>
      <th>Notes</th>
    </tr>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.id }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.date }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.totalCost }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.totalPrice }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.totalAmt }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.type.description }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ $ctrl.importedTrans.note }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
  </table>
  <h3>Subtransactions</h3>
  <table>
    <tr>
      <th>Product Name</th>
      <th>Product ID</th>
      <th>Amt</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Transaction ID</th>
    </tr>
    <tr ng-repeat="transaction in $ctrl.importedTrans.subTransactions">
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.name }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.productId }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.amt }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.summary.qty }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.totalPrice }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.totalCost }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
      <td>
        <div ng-hide="$ctrl.editMode === true">{{ transaction.transId }}</div>
        <div ng-show="$ctrl.editMode === true"><input></div>
      </td>
    </tr>
  </table>
</div>
