<navbar></navbar>
<div>
  <a ui-sref="administrator.adminProducts">
    <button type="submit">Products</button>
  </a>
  <a ui-sref="administrator.adminTransactions">
    <button type="submit" ng-click="">Transactions</button>
  </a>
</div>
<div>
  <button type="submit" ng-click="$ctrl.addNewTransaction()">New Transaction</button>
  <div ng-show="$ctrl.addNew === true">
    <div>
      Date:
      <input type="text" name="new-transaction-date" ng-model="$ctrl.newTransaction.date">
    </div>
    <!-- <div>
      ID:
      <input type="number" name="new-transaction-id" ng-model="$ctrl.newTransaction.id">
    </div> -->
    <div>
      Note:
      <input type="text" name="new-transaction-note" ng-model="$ctrl.newTransaction.note">
    </div>
    <div>
      Total Amount:
      <input type="number" name="new-transaction-totalAmt" ng-model="$ctrl.newTransaction.totalAmt">
    </div>
    <div>
      Total Cost:
      <input type="number" name="new-transaction-totalCost" ng-model="$ctrl.newTransaction.totalCost">
    </div>
    <div>
      Total Price:
      <input type="number" name="new-transaction-totalPrice" ng-model="$ctrl.newTransaction.totalPrice">
    </div>
    <div>
      Type [Description]:
      <input type="text" name="new-transaction-type" ng-model="$ctrl.newTransaction.type.description">
    </div>
    <div>
      Type [Id]:
      <input type="number" name="new-transaction-type" ng-model="$ctrl.newTransaction.type.id">
    </div>
    <div>
      Subtransactions:
    </div>
    <div>
      Product Name:
      <input type="text" name="new-subTransaction-prodName" ng-model="$ctrl.subTransaction.prodName">
    </div>
    <div>
      Product ID:
      <input type="number" name="new-subTransaction-prodID" ng-model="$ctrl.subTransaction.id">
    </div>
    <div>
      Amount:
      <input type="number" name="new-subTransaction-amt" ng-model="$ctrl.subTransaction.amt">
    </div>
    <div>
      Quantity:
      <input type="number" name="new-subTransaction-quantity" ng-model="$ctrl.subTransaction.qty">
    </div>
    <div>
      Subtotal:
      <input type="number" name="new-subTransaction-totalPrice" ng-model="$ctrl.subTransaction.totalPrice">
    </div>
    <div>
      Total Cost:
      <input type="number" name="new-subTransaction-totalCost" ng-model="$ctrl.subTransaction.totalCost">
    </div>
    <div>
      Transaction ID:
      <input type="number" name="new-subTransaction-transId" ng-model="$ctrl.subTransaction.transId">
    </div>
    <button type="submit" ng-click="$ctrl.submitNewTransaction()">Create Transaction</button>
  </div>
</div>
<div>
  <div>
    <h3>Transactions</h3>
  </div>
  <div>
    <table>
      <tr>
        <th>Transaction ID</th>
        <th>Date</th>
        <th>Total Cost</th>
        <th>Total Price</th>
        <th>Total Amt</th>
        <th>Transaction Type</th>
        <th>Notes</th>
      </tr>
      <tr ng-repeat="transaction in $ctrl.transactionList">
        <td>
          <a ng-click="$ctrl.viewTransactionDetails(transaction.id)">{{ transaction.id }}</a>
        </td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.totalCost }}</td>
        <td>{{ transaction.totalPrice }}</td>
        <td>{{ transaction.totalAmt }}</td>
        <td>{{ transaction.type.description }}</td>
        <td>{{ transaction.note }}</td>
      </tr>
    </table>
    </div>
  </div>
</div>