<navbar></navbar>
<div>
  <a ui-sref="administrator.adminProducts">
    <button type="submit">Products</button>
  </a>
  <a ui-sref="administrator.adminTransactions">
    <button type="submit" ng-click="">Transactions</button>
  </a>
</div>
<div>
  <div>
    <h3>Transactions</h3>
  </div>
  <div>
    <table>
      <tr>
        <th>Transaction ID</th>
        <th>Date</th>
        <th>Total Cost</th>
        <th>Total Price</th>
        <th>Total Amt</th>
        <th>Transaction Type</th>
        <th>Notes</th>
      </tr>
      <tr ng-repeat="transaction in $ctrl.transactionList">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.totalCost }}</td>
        <td>{{ transaction.totalPrice }}</td>
        <td>{{ transaction.totalAmt }}</td>
        <td>{{ transaction.type.description }}</td>
        <td>{{ transaction.note }}</td>
      </tr>
    </table>
    </div>
  </div>
</div>