<navbar></navbar>
<main>
	<div>
		<h1>Buy all the stuffs!</h1>
	</div>
	<div>Products:</div>
	<div>[ This will be a list of all the products in the cart ]</div>
	<div>{{ $ctrl.cartItems }}</div>
		<table>
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Date</th>
				<th>[fill in later]</th>
			</tr>
			<tr ng-repeat="(key, value) in $ctrl.cartItems">
				<td>
					<span>{{ $ctrl.cartItems.product.name }}</span>
				</td>
				<td>
					<span>Cell 2</span>
				</td>
			</tr>
		</table>
	<div>
		<button>SHUT UP AND TAKE MY MONEY</button>
	</div>
</main>