<navbar></navbar>
<div>
	<a ui-sref="administrator.adminProducts">
		<button type="submit">Products</button>
	</a>
	<a ui-sref="administrator.adminTransactions">
		<button type="submit" ng-click="">Transactions</button>
	</a>
</div>
<div>
	<button type="submit" ng-click="$ctrl.addNewProduct()">New Product</button>
	<div ng-show="$ctrl.addNew === true">
		<div>
			Product Name:
			<input type="text" name="new-product-name" ng-model="$ctrl.newProduct.name">
		</div>
		<div>
			Product Description
			<input type="text" name="new-product-description" ng-model="$ctrl.newProduct.description">
		</div>
		<div>
			Product Qty
			<input type="number" name="new-product-amt" ng-model="$ctrl.newProduct.amt">
		</div>
		<div>
			Product Cost
			<input type="number" name="new-product-cost" ng-model="$ctrl.newProduct.cost">
		</div>
		<div>
			Product Price
			<input type="number" name="new-product-price" ng-model="$ctrl.newProduct.price">
		</div>
		<div>
			Product Image
			<input type="text" name="new-product-imgThumbnail" ng-model="$ctrl.newProduct.imgThumbnail">
		</div>
		<button type="submit" ng-click="$ctrl.submitNewProduct($ctrl.newProduct)">Create Product</button>
	</div>
</div>
<div>
	<table>
		<tr>
			<th>Product Name</th>
			<th>Product Id</th>
			<th>Cost</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		<tr ng-repeat="product in $ctrl.productList">
			<td ng-click="$ctrl.goToProduct(product.id)">{{ product.name }}</a></td>
			<td>{{ product.id }}</td>
			<td>{{ product.cost }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.amt }}</td>
		</tr>
	</table>
</div>