<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
<section>
	<h1> {{ product.name }}</h1>
	<div class="admin-edit">
		<button ng-click="$ctrl.allowEdit" ng-hide="$ctrl.adminStatus === false">Edit Details</button>
	</div>
	<div class="product-list">
		<div ng-repeat="product in $ctrl.importedProduct" class="product">
			<div class="product-image">
				<img ng-src="{{product.imgThumbnail}}" style="width: 300px;" />
			</div>
			<div>
				Description: {{ product.description }}
			</div>
			<div>
				Amount in stock: {{ product.amt }}
			</div>
			<div>
				Price: {{ product.price }}
			</div>
			<div>
				Cost: {{ product.cost }}
			</div>
		</div>
	</div>
</section>