<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
<section>
	<h1> {{ product.name }}</h1>
	<div class="admin-edit">
		<button ng-click="$ctrl.initiateEdit()" ng-hide="$ctrl.adminStatus === false">Edit Details</button>
		<button ng-click="$ctrl.saveEdit()" ng-hide="$ctrl.adminStatus === false">Save Edits</button>
		<button ng-click="$ctrl.deleteProduct($ctrl.importedProduct.id)" ng-hide="$ctrl.adminStatus === false">Delete Product</button>
	</div>
	<div class="product-list">
		<div class="product">
			<div class="product-image">
				<img ng-src="{{ $ctrl.importedProduct.imgThumbnail}}" style="width: 300px;" />
			</div>
			<div>
				Name: 
				<span ng-hide="$ctrl.allowEdit === true"> {{ $ctrl.importedProduct.name }}</span>
				<input type="text" name="edit" ng-model="$ctrl.product.name" ng-show="$ctrl.allowEdit === true">
			</div>
			<div class="txt-color-blue">
				Description:
				<span ng-hide="$ctrl.allowEdit === true"> {{ $ctrl.importedProduct.description }}</span>
				<input type="text" name="edit" ng-model="$ctrl.product.description" ng-show="$ctrl.allowEdit === true">
			</div>
			<div>
				Amount in stock: {{ $ctrl.importedProduct.amt }}
			</div>
			<div>
				Price:
				<span ng-hide="$ctrl.allowEdit === true"> {{ $ctrl.importedProduct.price }}</span>
				<input type="text" name="edit" ng-model="$ctrl.product.price" ng-show="$ctrl.allowEdit === true">
			</div>
			<div ng-hide="$ctrl.adminStatus === false">
				Cost:
				<span ng-hide="$ctrl.allowEdit === true"> {{ $ctrl.importedProduct.cost }}</span>
				<input type="text" name="edit" ng-model="$ctrl.product.cost" ng-show="$ctrl.allowEdit === true">
			</div>
			<div>
				Quantity:
				<div class="box">    
					<label for="qty"><abbr title="Quantity">Qty</abbr></label>
					<input id="prod-qty" value="0" />
					<button id="down" ng-click="$ctrl.modifyQty(-1)">-1</button>
					<button id="up" ng-click="$ctrl.modifyQty(1)">+1</button>
				</div>
			</div>
			<div>
				<button ng-click="$ctrl.addToCart($ctrl.importedProduct)">TOSS IN MY BASKET RIGHT NOW</button>
			</div>
		</div>
	</div>
</section>