<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
<section>
	<h1>Login</h1>
	<div class="login-up-container">
		<div class="login-up-form">
			<form>
				<label>Email:
					<input type="text" ng-model="$ctrl.user.email" />
				</label>
				<label>Password:
					<input type="text" ng-model="$ctrl.user.password" />
				</label>
				<button ng-click="$ctrl.sendLogin($ctrl.user)" type="submit">Log In</button>
				<button ng-click="$ctrl.logOut()" type="submit">Log Out</button>
			</form>
		</div>
	</div>
</section>